/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}
#videoBG {
   position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100; /*다른요소보다 아래에 위치*/
  
}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none
}

.down{
   display: block;
   font-size: 20px;
   position: relative;
   left: 50%;
   top: 85vh;
   transform: translateX(-50%);
   width: 45px;
   height: 80px;
   border: 1px solid rgba(231, 234, 249, 0.309);
   border-radius: 60px;
   backdrop-filter: blur(6px);
   overflow: hidden;
   z-index: 10;
   background: rgba(113, 113, 113, 0.3);
   box-shadow: 0 0 15px rgba(237, 241, 246, 0.808);
}
.down .scroll{
   display: flex; flex-direction: column; 
   align-items: center; color: #cfdcff; 
   animation:ani 3s infinite;
   
}

#wrap .videoBox .down .fa-moon {
  font-size: 28px;
  color: #fff3b9;
  text-shadow: 0 0 10px #fff8d1, 0 0 25px #ffd966;
  padding-bottom: 8px;
}
#wrap .videoBox .down .fa-angles-down {
  font-size: 1rem;
   color: #fffbe8;
  text-shadow: 0 0 8px #fff6cc, 0 0 18px #ffd966;
}

@keyframes ani {
  0% {
    transform: translateY(-80%);
    opacity: 0.7;
    color: #fff;
  }
  50% {
    transform: translateY(20%);
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 1;
  }
}
	



#content{ width:100%; margin:0 auto; background:rgba(0,0,0,.85); padding: 100px 0;}
#content .section1{width: 90%; margin: 0 auto; position: relative; z-index: 1; margin-bottom: 100px; padding-top: 100px;}
#content .section1 .title_area{display: flex; justify-content: center; align-items: center; gap: 20px; margin-bottom: 50px;}
#content .section1 .title_area h3{text-align: center; color: #fff; font-size: 2.3rem;}
#content .section1 .title_area .more{
  display: inline-block;
  margin: 30px;         
  padding: 6px 14px;
  border: 1px solid #aaa;
  border-radius: 20px;
  color: #aaa;
  font-size: .8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
#content .section1 .title_area .more:hover{ 
  color: #cfcfcf;
  border-color: #1E90FF;
  background: rgba(30,144,255,0.1);
  box-shadow: 
    0 0 15px rgba(30,144,255,0.8),
    0 0 30px rgba(30,144,255,0.6);
  transition: all 0.3s ease;}


#content .section1 img{width: 100%; height: auto; border-radius: 30px; object-fit: contain; transition: all .5s ease-out;}
#content .section1 img:hover{box-shadow: 0 0 20px rgba(0, 200, 255, 0.7), 0 0 40px rgba(0, 200, 255, 0.3); transform: scale(1.03);}
#content .section1 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'a a a b b'
    'c d e b b'
    ;
}
#content .section1 ul .sec1{grid-area: a; margin-top: 40px;}
#content .section1 ul .sec1 dl{padding: 20px; color: #fff; text-align: right;}
#content .section1 ul .sec1 dl dt{font-family: 'Roboto Condensed', sans-serif; font-size: 2.3rem; 
    font-weight: 500; display: flex; margin-bottom: 50px; justify-content: flex-end;}
#content .section1 ul .sec1 dl dd{font-size: 1rem; font-weight: 400;}
#content .section1 ul .sec1 dl dd strong{display: block; margin-top: 10px;}
#content .section1 ul .sec2{grid-area: b; position: relative; z-index: 1;}
#content .section1 ul .sec3{grid-area: c;}
#content .section1 ul .sec4{grid-area: d;}
#content .section1 ul .sec5{grid-area: e;}
#content .section1 ul .sec6{grid-area: f; display: none;}
#content .section1 ul .sec3,
#content .section1 ul .sec4,
#content .section1 ul .sec5{position: relative; z-index: 2; transform: translateX(50px); box-shadow: 0 10px 30px rgba(0,0,0,.35);}

/* section2 */
#content .section2{width: 90%; margin: 0 auto; position: relative; z-index: 1; margin-bottom: 100px; padding-top: 100px;}
#content .section2 .title_area{display: flex; justify-content: center; align-items: center; gap: 20px; margin-bottom: 50px;}
#content .section2 .title_area h3{text-align: center; color: #fff; font-size: 2.3rem;}
#content .section2 .title_area .more{
  display: inline-block;
  margin: 30px;         
  padding: 6px 14px;
  border: 1px solid #aaa;
  border-radius: 20px;
  color: #aaa;
  font-size: .8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
#content .section2 .title_area .more:hover{
  color: #cfcfcf;
  border-color: #1E90FF;
  background: rgba(30,144,255,0.1);
  box-shadow: 
    0 0 15px rgba(30,144,255,0.8),
    0 0 30px rgba(30,144,255,0.6);
  transition: all 0.3s ease;
}
#content .section2 p{ text-align: center; color: #efefef; font-family: 'Roboto Condensed', sans-serif; font-size: 1.3rem;}
#content .section2 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'a a a b c'
    'd e e e c'
    'd e e e c'
    'f g g h i'
    ;
}
#content .section2 ul li{height: 100%; position: relative; overflow: hidden;}
#content .section2 ul li img{
    width: 100%; height: 100%; display: block;
    border-radius: 30px; object-fit: cover; transition: all .5s ease-out; border: 1px solid #ccc;}
#content .section2 ul li p{
    font-family: 'SpaceX', sans-serif;
    font-size: 1.2rem; color: #fff;
    position: absolute; font-size: 1rem;
    left: 0; right: 0; bottom: 0;
    transform: translateY(100%);   
    padding: 20px; text-align: center;
    /* background: rgba(0,0,0,0.4);        */
    transition: all .5s ease-out; opacity: 0;
}
#content .section2 ul .sec5 p.title {
  position: absolute;
  bottom: 40px; 
  font-size: 1.5rem;
  opacity: 1; 
  transform: none;
  background: none;
}


#content .section2 ul .sec5 p.desc {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  color: #efefef;
  /* background: rgba(0,0,0,0.4); */
  opacity: 0;
  transform: translateY(100%);
  transition: all .5s ease-out;
}

#content .section2 ul .sec5:hover p.desc {
  opacity: 1;
  transform: translateY(10%);
}
#content .section2 ul li.always p{
    bottom: 0; opacity: 1; display: flex; 
    justify-content: flex-end; height: 100%; font-size: 2rem; 
    align-items: center; text-align: right;
     /* background: rgba(0,0,0,0.25);  */
     transform: none;}
#content .section2 ul li.always:hover p{bottom: 0;}
#content .section2 ul li:hover p{opacity: 1; transform: translateY(0); }
#content .section2 ul .sec1{grid-area: a;}
#content .section2 ul .sec2{grid-area: b;}
#content .section2 ul .sec3{grid-area: c;}
#content .section2 ul .sec4{grid-area: d;}
#content .section2 ul .sec5{grid-area: e;}
#content .section2 ul .sec6{grid-area: f;}
#content .section2 ul .sec7{grid-area: g;}
#content .section2 ul .sec8{grid-area: h;}
#content .section2 ul .sec9{grid-area: i;}
#content .section2 ul .sec10{grid-area: g;}
#content .section2 ul .sec11{grid-area: k;}
#content .section2 ul .sec12{grid-area: l;}
#content .section2 ul .sec13{grid-area: m;}

#content .section2 ul .sec10,
#content .section2 ul .sec11,
#content .section2 ul .sec12,
#content .section2 ul .sec13{ display: none;}

/* section3 */
#content .section3{width: 90%; margin: 0 auto; position: relative; z-index: 1; margin-bottom: 100px; padding-top: 100px;}
#content .section3 .title_area{display: flex; justify-content: left; align-items: center; gap: 20px; margin-bottom: 50px;}
#content .section3 .title_area h3{color: #fff; font-size: 2.3rem;}
#content .section3 .title_area .more{
  display: inline-block;
  margin: 30px;         
  padding: 6px 14px;
  border: 1px solid #aaa;
  border-radius: 20px;
  color: #aaa;
  font-size: .8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
#content .section3 .title_area .more:hover{
  color: #cfcfcf;
  border-color: #1E90FF;
  background: rgba(30,144,255,0.1);
  box-shadow: 
    0 0 15px rgba(30,144,255,0.8),
    0 0 30px rgba(30,144,255,0.6);
  transition: all 0.3s ease;
}
#content .section3 .swiper-slide{width: 850px; height: 550px; background-position: center; background-size: cover;}
#content .section3 .swiper-pagination{position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;}
#content .section3 .swiper1{position: relative; padding-bottom: 50px;}
#content .section3 .swiper-pagination-bullet{ background: rgba(255,255,255,0.6);}
#content .section3 .swiper1 .swiper-pagination-bullet-active { background: #fff;}
#content .section3 #text{color: #fff; align-items: center; justify-content: center; text-align: center; margin-top: 30px;}
#content .section3 #text dl dt{font-family: 'SpaceX', sans-serif; margin-bottom: 30px; font-size: 1.3rem;}
#content .section3 #text dl dd{font-family: 'Roboto Condensed', sans-serif; font-size: 1.3rem;}


/* section4 */
#content .section4{width: 90%; margin: 0 auto; position: relative; z-index: 1; ;overflow: hidden; margin-bottom: 100px; padding-top: 100px;}
#content .section4 .title_area{display: flex; justify-content: center; align-items: center; gap: 20px; margin-bottom: 50px;}
#content .section4 .title_area h3{color: #fff; font-size: 2.3rem; text-align: center;}
#content .section4 .title_area .more{
  display: inline-block;
  margin: 30px;         
  padding: 6px 14px;
  border: 1px solid #aaa;
  border-radius: 20px;
  color: #aaa;
  font-size: .8rem;
  text-decoration: none;
  transition: all 0.3s ease;}
#content .section4 .title_area .more:hover{
  color: #cfcfcf;
  border-color: #1E90FF;
  background: rgba(30,144,255,0.1);
  box-shadow: 
    0 0 15px rgba(30,144,255,0.8),
    0 0 30px rgba(30,144,255,0.6);
  transition: all 0.3s ease;
}
#content .section4 .swiper-slide{width: 850px; height: 550px; background-position: center; background-size: cover; border-radius: 30px;}
/* #content .section4 .swiper-pagination {
  margin: 20px 0;      
  text-align: center;  
  position: relative;  
} */

#content .section4 .gallery-top{margin: 0 auto; margin-bottom: 15px ; position: relative;}

#content .section4 .gallery-top .swiper-wrapper .swiper-slide{display: flex; align-items: flex-start; gap: 40px;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide div{width: 60%;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide img{width: 100%; height: 100%; border-radius: 20px; object-fit: cover; transition: all .5s ease-out;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide .n_text{color: #fff; width: 50%; line-height: 1.6;}
#content .section4 .gallery-top .swiper-wrapper strong{font-size: 2rem; display: block; margin-bottom: 20px;}
#content .section4 .gallery-top .swiper-wrapper p{font-size: 1rem; color: #ddd; text-align: justify;}

#content .section4 .swiper-pagination_bar{position: relative; margin: 20px; text-align: right; bottom: 100px;}
#content .section4 .swiper-pagination_bar .swiper-pagination-bullet{
  width: 4vw; height: 8px; border-radius: 20px; margin: 0 5px;
  background: rgba(255,255,255,0.6);
  opacity: 1;            
  box-sizing: border-box;
}
#content .section4 .swiper-pagination_bar .swiper-pagination-bullet-active{
  background: rgba(0, 200, 255, 0.3);   
  border-color: #0545B1;
  box-shadow: 0 0 10px rgba(5,69,177,.6);
}

#content .section4 .gallery-thumbs {
  height: 200px;            
  box-sizing: border-box;
  padding: 10px 0;
}
#content .section4 .gallery-thumbs .swiper-slide {
  width: 20%;               
  height: 100%;
  opacity: 0.4;          
}
#content .section4 .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;               
}
#content .section4 .gallery-thumbs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;}


/* section5 */
#content .section5{width: 90%; margin: 0 auto; position: relative; z-index: 1; margin-bottom: 100px; padding-top: 80px; text-align: center;}
#content .section5 .title_area{display: block; justify-content: center; align-items: center; gap: 20px; margin-bottom: 50px;}
#content .section5 .title_area h3{color: #fff; font-size: 2.3rem; text-align: center;}
#content .section5 .title_area p{ text-align: center; color: #efefef; font-family: 'Roboto Condensed', sans-serif; font-size: 1.2rem; font-weight: 400; padding-top: 30px;}


#content .section5 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'a a b b'
    'a a c d'
    'e f f g'
    'h i j j'
    ;
}
#content .section5 ul li{height: 100%; position: relative; overflow:hidden; transition: box-shadow .4s ease;}
#content .section5 ul li:hover{ box-shadow: 0 0 20px rgba(0,200,255,.7), 0 0 40px rgba(0,200,255,.3);}
#content .section5 ul li img{width: 100%; height: 100%; display: block; object-fit: cover; transition: all .5s ease-out; border: 1px solid #8d8d8d;}
#content .section5 ul li img:hover{box-shadow: 0 0 8px rgba(0, 200, 255, 0.7), 0 0 40px rgba(0, 200, 255, 0.3); transform: scale(1.1);}
#content .section5 ul .sec1{grid-area: a;}
#content .section5 ul .sec2{grid-area: b;}
#content .section5 ul .sec3{grid-area: c;}
#content .section5 ul .sec4{grid-area: d;}
#content .section5 ul .sec5{grid-area: e;}
#content .section5 ul .sec6{grid-area: f;}
#content .section5 ul .sec7{grid-area: g;}
#content .section5 ul .sec8{grid-area: h;}
#content .section5 ul .sec9{grid-area: i;}
#content .section5 ul .sec10{grid-area: j;}
#content .section5 .more {
  display: inline-block;
  margin: 30px;         
  padding: 6px 14px;
  border: 1px solid #aaa;
  border-radius: 20px;
  color: #aaa;
  font-size: .8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

#content .section5 .more:hover {
  color: #cfcfcf;
  border-color: #1E90FF;
  background: rgba(30,144,255,0.1);
  box-shadow: 
    0 0 15px rgba(30,144,255,0.8),
    0 0 30px rgba(30,144,255,0.6);
  transition: all 0.3s ease;
}



/* 일반 pc */
@media screen and (max-width:1280px) {

}


@media screen and (max-width:1125px) {
  #content .section1 ul .sec1 dl dt{line-height: 1;}
}


@media screen and (max-width:1090px){
#content .section2 ul .sec5:hover p.desc {
  opacity: 1;
  transform: translateY(22%);
}
#content .section2 ul .sec5 p.desc{font-size: .8rem;}
}


/* 테블릿 */
@media screen and (max-width:1024px) {

  /* section1 */
	#content .section1 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'a a b b'
    'c d b b'
    ;
}
#content .section1 ul .sec2 img{width: 100%; height: 687px; border-radius: 30px; object-fit: cover; transition: all .5s ease-out;}
#content .section1 ul .sec5{display: none;}

/* section2 */
#content .section2 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'a a a b'
    'c e e e'
    'c e e e'
    'f g g h'
    ;
}
#content .section2 ul .sec4{display: none;}
#content .section2 ul .sec9{display: none;}

/* section3 */
#content .section3 .swiper-slide{width: 700px; height: 400px;}



/* section4 */
#content .section4 .gallery-top .swiper-wrapper{padding-bottom: 50px;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide{ display: block; text-align: center; height: auto;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center;
}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide img {width: 100%; height: auto;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide .n_text{width: 100%;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide .n_text strong{font-size: 1.1rem;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide div{width: 80%;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide div img{width: 100%; text-align: center; align-items: center; justify-content: center;}
#content .section4 .swiper-pagination_bar{position: relative; margin: 100px auto 20px; text-align: center;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide .n_text p{width: 90%;
  margin: 0 auto;}
#content .section4 .gallery-thumbs{ display: none; }
/* section5 */
#content .section5 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'a a c'
    'a a g'
    'e f f'
    'i j j'
    ;
}
#content .section5 ul .sec2{display: none;}
#content .section5 ul .sec4{display: none;}
#content .section5 ul .sec8{display: none;}
}






/* 소형 테블릿 */
@media screen and (max-width:768px) {
	.down{bottom: 10%;}
  #content .section3 .swiper-slide{width: 600px; height: 400px; border-radius: 10px;}
  #content .section3 #text dl dd{font-family: 'Roboto Condensed', sans-serif; font-size: 1rem;}
}

/* 모바일 */
@media screen and (max-width:640px) {
   #content .section1 .title_area {
  display: flex;                
  justify-content: center;    
  align-items: center;        
  gap: 20px;                   
  margin-bottom: 30px;
}

#content .section1 .title_area h3 {
  margin: 0;
  font-size: 2rem;
}



  #content .section1 .title_area p {
    flex-basis: 100%; 
    text-align: center;
    margin-top: 10px;
  }
	#content .section1 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'c d'
    'a a'
    'f f'
    ;
}
  #content .section1 ul .sec3,
  #content .section1 ul .sec4 {
    transform: none;     
    justify-self: center; 
  }
  #content .section1 ul .sec6 {
    grid-area: f;
    display: block;
  }
  #content .section1 ul .sec3 img,
  #content .section1 ul .sec4 img,
  #content .section1 ul .sec6 img {
    width: 100%; margin: 0 auto; text-align: center;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }


  #content .section1 ul .sec1 dl {
    text-align: center;
    padding: 20px;
  }
  #content .section1 ul .sec1 dl dt {
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  #content .section1 ul .sec1 dl dd {
    font-size: 0.9rem;
    line-height: 1.5;
  }
#content .section1 ul .sec2{display: none;}
#content .section1 ul .sec5{display: none;}


/* section2 */
#content .section2 ul{
  align-items: center;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'e e e'
    'e e e'
    'g g m'
    'k l .'
    ;
}

#content .section2 ul .sec10,
#content .section2 ul .sec11,
#content .section2 ul .sec12,
#content .section2 ul .sec13{display: block;}

#content .section2 ul .sec1,
#content .section2 ul .sec2,
#content .section2 ul .sec3,
#content .section2 ul .sec4,
#content .section2 ul .sec6,
#content .section2 ul .sec7,
#content .section2 ul .sec8,
#content .section2 ul .sec9{display: none;}


#content .section2 .title_area .more {display: none; }
#content .section2 ul::after {
    content: "More +"; width: auto; height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 20px;
    color: #aaa;
    font-size: .8rem;
    padding: 6px 14px;
    margin: 110px auto 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #content .section2 ul:hover::after {
    color: #cfcfcf;
    border-color: #1E90FF;
    background: rgba(30,144,255,0.1);
    box-shadow: 0 0 15px rgba(30,144,255,0.8),
                0 0 30px rgba(30,144,255,0.6);
  }


/* section3 */
#content .section3 .title_area {
  display: flex;                
  justify-content: center;    
  align-items: center;        
  gap: 20px;                   
  margin-bottom: 30px;
}

#content .section3 .title_area h3 {
  margin: 0;
  font-size: 2.2rem;
}
#content .section3 .swiper-slide{width: 450px; height: 300px; border-radius: 20px;}
#content .section3 #text dl dt{font-size: 1.2rem;}
#content .section3 #text dl dd{display: none;}



/* section4 */
#content .section4{width: 90%; margin: 0 auto; position: relative; z-index: 1; ;overflow: hidden; margin-bottom: 80px; padding-top: 100px;}
#content .section4 .title_area {
  display: flex;                
  justify-content: center;    
  align-items: center;        
  gap: 20px;                   
  margin-bottom: 30px;
}

#content .section4 .title_area h3 {
  margin: 0;
  font-size: 3rem;
}

#content .section4 .gallery-top .swiper-wrapper .swiper-slide .n_text p{display: none;}
#content .section4 .gallery-top .swiper-wrapper .swiper-slide .n_text strong{margin-top: 20px; font-size: 1.5rem;}
#content .section4 .swiper-pagination_bar{position: relative; margin: 40px auto 20px; text-align: center;}


/* section5 */
#content .section5{width: 90%; margin: 0 auto; position: relative; z-index: 1; margin-bottom: 100px; padding-top: 10px; text-align: center;}
#content .section5 ul{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-areas:
    'a a'
    'a a'
    'c g'
    'j j'
    ;
}
#content .section5 ul .sec2{display: none;}
#content .section5 ul .sec4{display: none;}
#content .section5 ul .sec5{display: none;}
#content .section5 ul .sec6{display: none;}
#content .section5 ul .sec8{display: none;}
#content .section5 ul .sec9{display: none;}
}




/* 소형모바일 */
@media screen and (max-width:480px) {
	#content .section3 .title_area h3 {
  margin: 0;
  font-size: 1.5rem;
}
}
