/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}

.down{
   display: block;
   font-size: 20px;
   position: relative;
   left: 50%;
   top: 70vh;
   transform: translateX(-50%);
   width: 45px;
   height: 80px;
   border: 1px solid rgba(231, 234, 249, 0.309);
   border-radius: 60px;
   backdrop-filter: blur(6px);
   overflow: hidden;
   z-index: 10;
   background: rgba(113, 113, 113, 0.3);
   box-shadow: 0 0 15px rgba(237, 241, 246, 0.808);
}
.down .scroll{
   display: flex; flex-direction: column; 
   align-items: center; color: #cfdcff; 
   animation:ani 3s infinite;
   
}

#wrap .videoBox .down .fa-moon {
  font-size: 28px;
  color: #fff3b9;
  text-shadow: 0 0 10px #fff8d1, 0 0 25px #ffd966;
  padding-bottom: 8px;
}
#wrap .videoBox .down .fa-angles-down {
  font-size: 1rem;
   color: #fffbe8;
  text-shadow: 0 0 8px #fff6cc, 0 0 18px #ffd966;
}

@keyframes ani {
  0% {
    transform: translateY(-80%);
    opacity: 0.7;
    color: #fff;
  }
  50% {
    transform: translateY(20%);
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 1;
  }
}
/* #gnb ul li a:hover,
#gnb ul li a.current{
  color:#cfdcff;
  text-shadow: 0 0 8px #29bfff, 0 0 18px rgba(41,191,255,.6);
  text-decoration: underline;
  text-decoration-color: #29bfff;
  text-underline-offset: 6px;
} */

#content{ 
   width:100%; margin:0; background:rgba(0,0,0,.8);position: relative;
   & h2{
   position: absolute; top: -500px; font-family: 'SpaceX', sans-serif;;
   width: 100%; text-align: center; font-size: 4.2rem; color: #fff;
   text-shadow: 
    0 0 2px rgba(0,0,0,0.5),
   0 0 8px rgba(0,0,0,0.4);
}
}


/* section1 */
#content .section1 h3{
   margin: 0 auto; padding: 150px 0 100px 0; text-align: center;
   font-family: 'Roboto', sans-serif; font-size: 3rem; font-weight: 800;
}
#content .section1 p{
   margin: 20px auto 200px; text-align: center; 
   font-weight: 400; width: 90; font-size: 1.2rem;}
.wrapper {
    width: 90%;
    margin: 0 auto;
}

.masonry {
    
    padding: 0;
    column-count: 5; /*단개수*/
    column-gap: 15px; /*단사이 여백*/
}

.masonry li{
   display: inline-block; /*이걸 꼭 줘야 함!!!!!!!!*/
   margin: 0 0 24px;
   width: 100%; /*이걸 꼭 줘야 함!!!!!!!!*/
   box-shadow: 0 8px 20px rgba(0,0,0,.35), 0 20px 60px rgba(0,0,0,.28), 0 0 0 1px rgba(63,136,185,.25);
   overflow: hidden;
   border-radius: 20px;
}
.masonry li img{width: 100%; filter: grayscale(.5); transition: all .5s ease;}
.masonry li:hover img{transform: scale(1.1); filter: grayscale(0);}
/* 일반 pc */
@media screen and (max-width:1280px) {
	.masonry {
      column-count: 5;
    }
}

/* 테블릿 */
@media screen and (max-width:1024px) {
   .masonry {
        column-count: 4;
    }

}
/* 소형 테블릿 */
@media screen and (max-width:768px) {
   #content h2{font-size: 3rem;}
   .masonry {
        column-count: 3;
    }

}
/* 모바일 */
@media screen and (max-width:640px){
   .masonry {
        column-count: 2;
    }


}
@media screen and (max-width:610px){
   #content .section1 h3{font-size: 2.5rem;}
}
@media screen and (max-width:480px){
   .masonry {
        column-count: 1;
    }
    #content .section1 h3{font-size: 1.4rem;}
   }