body{background-color: #eee; font-size: 16px; }
h1 a{margin: 50px auto 0; display: block; width: 256px; height: 56px; text-indent: -9999px; overflow: hidden;
    background: url(../../common/images/top_logo.png) center no-repeat;}
#content{width: 400px; margin: 50px auto; background: #fff;border-radius: 10px;
     padding: 50px 80px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500;}
#content h2{font-size: 1.5em; text-align: center; padding-bottom: 30px;}
#content p{color: #999; font-weight: 400; font-weight: .9em; text-align: center;}
#content form{margin-top: 50px;}
#content form label{font-size: .9em; display: block; margin-bottom: 5px;}
#content form input{border: 1px solid #ddd; width: 100%; height: 50px; border-radius: 7px; 
    margin-bottom: 15px; padding-left: 20px; }
#content form input::placeholder{font-family: 'Noto Sans KR', sans-serif; color: #ddd;}

#content form input[type=submit]{margin-top: 20px; font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em; border: 0; background: #ff1a00; color: #fff; font-weight: 400; height: 60px; cursor: pointer;}
#content form input:focus{outline-color: #ff1a00;}

#content div:nth-of-type(1){margin-left: 50%; transform: translateX(-40%);}
#content div:nth-of-type(1) a{font-weight: 400; color: #999; display: inline;}
#content div:nth-of-type(1) a:last-child{margin-left: 10px; position: relative;}
#content div:nth-of-type(1) a:last-child::before{content: ''; display: block; position: absolute;
    width: 1px; height: 50%; background: #999; left: -8px; top: 7px;}
#content div:nth-of-type(2){width: 100%; margin-top: 50px; margin-left: 50%; transform: translateX(-30%);}
#content div:nth-of-type(2) span{color: #666;}
#content div:nth-of-type(2) a{display: inline; color: #ff1a00;}
