/* sub2_1 콘텐츠 */
.visual img{width: 100%; height: 200px; object-fit: cover; object-position: center;}
.visual strong{position: absolute; display: block; left: 0; top: 80px; width: 100%; color: #fff; text-align: center; font-size: 2rem; text-shadow: 2px 2px 5px #666; font-weight: 500;}

.sub_nav{width: 90%; border: 1px solid #ccc; border-radius: 50px; margin: 30px auto 0;}
.sub_nav ul{display: flex; width: 100%; margin: 0 auto;}
.sub_nav ul li{width: 25%; text-align: center; box-sizing: border-box;}
.sub_nav ul li a{ border-radius: 30px; display: block; font-size: 1.2rem; font-weight: 600; padding: 15px 0; margin: 7px;}
.sub_nav ul li a.current{background: #ff1a00; color: #fff;}


#content{margin-top: 50px;}
#content .title_area{width: 100%; margin: 0 auto;}
#content .title_area h2{font-size: 3rem; font-weight: 700; text-align: center; margin-bottom: 20px; position: relative;}
#content .title_area h2::after{content: ''; position: absolute;
    left: 50%; top: 120px; transform: translateX(-50%);
    display: block; width: 2px; height: 50px; background: #ff1a00;}
#content .title_area p{font-size: 1.2rem; text-align: center; font-weight: 500; color: #ff1a00; margin-bottom: 150px;}

#content .content_area{position: relative; z-index: 1; overflow: hidden;}
#content .content_area .bg{position: absolute; width: 100%; height: 90%; bottom: 0; background: #fff8ea; border-radius: 200px 200px 0 0; box-shadow: 0 6px 20px rgba(0,0,0,.25); z-index: 0;}

#content .ceo{position: relative; padding: 0 30px; }
#content .ceo .c_img img{display: block; width: 100%; border-radius: 30px;}
#content .content_area span{ display: block; font-weight: 700; font-size: 1.5rem; margin: 30px 0; text-align: center;}
#content .content_area span:nth-of-type(2){text-align: right; font-size: 1.2rem;}
#content .content_area strong{color: #ff1a00; font-weight: 700;}
#content .content_area p{font-size: 1.2rem; margin-top: 70px; font-weight: 500;}