/* sub2_1 콘텐츠 */
.visual img{width: 100%; height: 200px; object-fit: cover; object-position: center;}
.visual strong{position: absolute; display: block; left: 0; top: 80px; width: 100%; color: #fff; text-align: center; font-size: 2rem; text-shadow: 2px 2px 5px #666; font-weight: 500;}

.sub_nav{width: 90%; border: 1px solid #ccc; border-radius: 50px; margin: 30px auto 0;}
.sub_nav ul{display: flex; width: 100%; margin: 0 auto;}
.sub_nav ul li{width: 33.33%; text-align: center; box-sizing: border-box;}
.sub_nav ul li a{ border-radius: 30px; display: block; font-size: 1.2rem; font-weight: 600; padding: 15px 0; margin: 7px;}
.sub_nav ul li a.current{background: #ff1a00; color: #fff;}


#content{margin-top: 50px;}
#content .title_area{width: 100%; margin: 0 auto;}
#content .title_area h2{font-size: 3rem; font-weight: 700; text-align: center; margin-bottom: 20px; position: relative;}
#content .title_area h2::after{content: ''; position: absolute;
    left: 50%; top: 120px; transform: translateX(-50%);
    display: block; width: 2px; height: 50px; background: #ff1a00;}
#content .title_area p{font-size: 1.2rem; text-align: center; font-weight: 500; color: #ff1a00; margin-bottom: 150px;}



#content .content_area .tab_menu{width: 100%; margin: 0 auto; display: flex; justify-content: center; font-size: 1.5rem; font-weight: 500;}
#content .tab_menu .tab{
    text-align: center; color: #333; background: #f6f6f6; 
    width: 100px; padding: 10px; margin: 20px;
    text-align: center; font-size: 1rem; font-weight: 500;
    border-radius: 50px; border: 1px solid #f6f6f6;
    transition: all .5s ease-out;
    text-decoration: none;}
#content .tab_menu a.current{background: #FF1A00; color: #fff;}


#content .content_area .intro{margin: 0 auto; font-size: 1.3rem; position: relative; text-align: center; }
#content .content_area .intro .fa-solid{ font-size: 2rem; color: #efefef; padding: 0 5px; position: relative; margin: 20px 0;}
#content .content_area ul {margin-bottom: 100px;}
.head{position: relative; width: 100%; overflow: hidden;}
.head img{width: 100%; height: 270px; object-fit: cover; object-position: center; margin: 40px 0;}
.head .headline{position: absolute; bottom: 50px; left: 20px; color: #fff; font-size: 1.5rem; font-weight: 600; line-height: 1.4; text-shadow: 2px 2px 5px rgba(0,0,0,0.5);}
.item .desc{font-size: 1.1rem; padding: 0 30px; line-height: 1.5; font-weight: 500;}


.ship_con{width: 100%;}
.ship_con p{ font-size: 2.3rem; font-weight: 600; text-align: center; margin-bottom: 10%;}
.ship_con .ship ul{width: 90%; margin: 0 auto; display: flex; flex-direction: column; justify-content: center; gap: 20px;}
.ship_con .ship ul li{background: #f8f8f8; border-radius: 20px; box-shadow: 5px 5px 1px 1px rgba(0,0,0,.2);
    padding: 30px; box-sizing: border-box; text-align: center;}
.ship_con .ship ul li p{font-size: 1.3rem; margin-bottom: 20px; color: #eb2712; font-weight: 700;}
.ship_con .ship ul li span{font-size: 1rem; font-weight: 400; line-height: 1.3;}